.title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #32FF71;   /* bright neon green */
    -fx-effect: dropshadow(gaussian, rgba(0,255,100,0.4), 15, 0.2, 0, 2);
    -fx-padding: 10 0 20 0;
}

.login-app-title {
    -fx-font-size: 68px;
}

.login-subtitle {
    -fx-font-size: 30px;
    -fx-font-weight: 800;
    -fx-text-fill: #d7ffe5;
}
.vbox > Label, .hbox > Label {
    -fx-font-size: 12px;
    -fx-text-fill: #9BA5B3; /* softer but visible */
    -fx-font-weight: bold;
    -fx-letter-spacing: 0.8px; /* modern look */
}
.text-field, .password-field {
    -fx-background-color: #0F1F0F;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-border-color: #1f5f3e;
    -fx-border-radius: 8px;
    -fx-prompt-text-fill: #6C776C;
    -fx-padding: 8 12;
}
.muted {
    -fx-text-fill: #9BA5B3;
    -fx-font-size: 11px;
}

.link-highlight {
    -fx-text-fill: #32FF71;
    -fx-font-weight: bold;
}

.muted:hover, .link-highlight:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}
.primary-button {
    -fx-background-color: linear-gradient(to bottom, #2cff7a, #0ecf4b);
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 12 0;
}

.primary-button:hover {
    -fx-background-color: linear-gradient(to bottom, #4dff95, #14e65a);
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-text-fill: #cdeed8;
    -fx-border-color: #2cff7a;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
    -fx-padding: 10 0;
}

.secondary-button:hover {
    -fx-background-color: rgba(44, 255, 122, 0.15);
    -fx-cursor: hand;
}

.create-account-button {
    -fx-text-fill: #32FF71;
}
.card {
    -fx-background-color: rgba(0, 40, 0, 0.4);
    -fx-padding: 25;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,255,100,0.2), 30, 0.2, 0, 20);
}
.muted {
    -fx-text-fill: #9BA5B3;
}

.forgot:hover {
    -fx-text-fill: #32FF71;
    -fx-cursor: hand;
}
